@import "vars";
@import "fonts";
@import "libs";

body, html {
  height: 100%;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

b, strong {
	font-weight: bold;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
	overflow: hidden;
}

.container{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  display: inline-block;
  padding: 10px 17px;
  min-width: 97px;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  line-height: 1.42;
  color: #ffffff;
  background-color: $accent;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color .1s ease;
  &:focus, &:hover {
    text-decoration: none;
    color: #fff;
  }
  &:hover {
    background-color: lighten($accent, 5%);
  }
    &::after {
      opacity: .22;
    }
  &:active {
    background-color: darken($accent, 8%);
  }
}

.header {
	padding-top: 15px;
	background-color: #000000;
}

.logo {
	margin-bottom: 15px;
}

.content {
	display: flex;
	padding-top: 27px;
}

.product-list__item {
	display: flex;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #d4d4d4;
	&:last-child {
		border-bottom: 0;
	}
}

.product-list__img {
	margin-right: 25px;
	width: 138px;
}

.product-list__description {
	width: 490px;
	padding-top: 10px;
}

.product-list__title {
	color: #141c1f;
	font-size: 16px;
	font-weight: bold;
}

.product-list__text {
	margin-right: 28px;
	font-size: 14px;
	font-weight: 400;
	color: #142328;
}

.product-list__digit {
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	line-height: 1;
}

.product-list__price {
	align-self: center;
	text-align: center;
}

.button-cart {
	padding: 10px 30px;
	font-size: 16px;
	font-weight: bold;
  text-shadow: 1px 1px 1px rgba(2, 89, 117, 0.6);
	line-height: 1;
}





@import "media"; // Always at the end
